@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.App {
  background-image: linear-gradient(0deg, #2d0b15, #132432, #142f21);
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

.main {
  background-image: linear-gradient(0deg, #2d0b15, #132432, #142f21);
  min-height: 100vh;
  min-width: 50vh;
}

.home {
  text-align: center;
  color: white;
}

.home h1 {
  color: #dd1277b9;
  text-shadow: 2px 2px #4d3f46b9;
  margin-top: 10vh;
  text-align: center;
}

.home #top {
  color: white;
  margin-bottom: 10vh;
}

.home h4 {
  color: #dd127794;
  text-align: center;
  padding-bottom: 10px;
}

#home-container {
  display: flex;
}

#home-manager p {
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
}

#home-employee p {
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
}

#home-manager,
#home-employee {
  text-align: center;
}

#emp-dash-btn {
  padding: 5px;
  margin: 5px;
  width: 10rem;
}

#man-dash-btn {
  padding: 5px;
  margin: 5px;
  width: 10rem;
}

#landing-page {
  display: flex;
  min-width: 100px;
  align-items: center;
  justify-content: center;
}

#auth-form-container {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  padding: 4rem;
  border: 0.2rem solid #FBFBFB;
  border-radius: 10px;
}

#login-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

#login-reg {
  display: flex;
}

label {
  padding: 0.25rem 0;
  color: #FBFBFB;
}

select {
  height: 30px;
}

.auth-form-container input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

#login-btn,
#register-btn {
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 1em;
  margin-right: 1em;
  border: none;
  background-color: #FBFBFB;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'DM Sans', sans-serif;
  width: 7rem;
}

#register-btn2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 5em;
  margin-right: 5em;
  border: none;
  background-color: #FBFBFB;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'DM Sans', sans-serif;
  width: 7rem;
}

#login-btn:hover,
#register-btn:hover {
  background: rgb(175, 175, 175);
}

#login-btn:active,
#register-btn:active {
  transform: translateY(3px);
  box-shadow: 0 2px black;
}

p#title {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 2rem;
}

.employee,
.manager {
  color: white;
  min-height: 100vh;
  min-width: 100px;
  margin: 30px;
}

#modify-form {
  display: flex;
  direction: column;
  padding: 5px;
  visibility: hidden;
}

.manager input {
  margin: 5px;
  padding: 5px;
  width: 200px;
}

.manager #shifttype {
  min-width: 200px;
  height: 35px;
  margin: 5px;
  padding: 5px;
}

.manager #manager-label {
  width: 100px;
  height: 30px;
}

.manager #modify-btn {
  width: 100px;
  height: 35px;
  margin: 15px;
  padding: 4px;
  margin-left: 105px;
  border: none;
}

#emp {
  font-size: 1.5rem;
  text-align: center;
}

#emp-btn {
  padding: 20px;
  margin: 20px;
  width: 9rem;
}

#btn1,
#btn2,
#btn3,
#btn4 {
  padding: 20px;
  margin: 20px;
  width: 9rem;
}

#trivial {
  font-size: 15px;
  text-align: left;
}

#c-main {
  display: flex;
  text-align: center;
}

#c1,
#c3 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

#detail-start {
  font-size: large;
  font-weight: 600;
  color: rgb(47, 255, 68);
}

#detail-end {
  font-size: large;
  font-weight: 600;
  color: rgb(255, 106, 47);
}

#datetime-start {
  outline: 2px solid rgb(47, 255, 68);
  color: rgb(47, 255, 68);
  padding: 10px;
  line-height: 30px;
  width: 10rem;
  border-radius: 4px;
  text-align: center;
}

#datetime-end {
  outline: 2px solid rgb(255, 106, 47);
  color: rgb(255, 106, 47);
  padding: 10px;
  line-height: 30px;
  width: 10rem;
  border-radius: 4px;
  text-align: center;
}

#back-to-login {
  margin-top: 1rem;
  text-align: center;
}

#back-to-login-btn {
  font-family: 'DM Sans', sans-serif;
  color: white;
  background-color: rgba(73, 73, 73, 0.389);
  font-size: 15px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#back-to-login-btn:hover {
  background: #fbfbfb87;
  color: black;
}

#back {
  margin-top: 6rem;
  text-align: center;
}

#back-btn {
  font-family: 'DM Sans', sans-serif;
  color: white;
  background-color: rgba(73, 73, 73, 0.389);
  font-size: 15px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
}

#back-btn:hover {
  background: #fbfbfb87;
  color: black;
}

.logout {
  color: white;
  padding-top: 80px;
  text-align: center;
}

#logout-btn {
  font-family: 'DM Sans', sans-serif;
  color: white;
  background-color: rgba(73, 73, 73, 0.389);
  font-size: 15px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
}

#logout-btn:hover {
  background: #fbfbfb87;
  color: black;
}